.person {
  position: relative;
  line-height: 40px;
  text-align: center;
  border: 1px solid #000;
}

.person:hover {
  background-color: azure;
  cursor: pointer;
}

.del-icon {
  display: none;
  width: 16px;
  height: 16px;
  position: absolute;
  right: -5px;
  top: -5px;
  background-image: url(../../assets/delete-filling.png);
}

.person:hover .del-icon {
  display: inline-block;
}
